# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependencias
node_modules/

# Archivos de entorno (¡Crítico para seguridad!)
.env
.env.test
.env.production
.env.local

# Directorios de compilación (si decides integrar TypeScript después)
dist/
build/

# Cobertura de pruebas
coverage/
.nyc_output

# Archivos temporales y de diagnóstico de Node
pids
*.pid
*.seed
*.pid.lock
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Configuraciones de editores / IDEs
.vscode/
.idea/
*.swp